//Created by abratin on 6/9/16.

extends layout

block content
    .container
        h1 Login Page
        br
        p(id="status")
        form(role='form', action="/login",method="post", style='max-width: 300px;')
            .form-group
                input.form-control( id='username',type='emailController', name="username", required, autofocus, placeholder='Enter Email Address')
            .form-group
                input.form-control(id='password', type='password', name="password", required, placeholder='Password')
            button.btn.btn-default(type='submit') Submit
            br
            a(href='/')
                button.btn.btn-primary(type="button") Cancel
            br
            a(href='#', id="forgotPassword" data-action='/forgotPassword') ForgotPassword
block postScripts
    script(src='/js/login.js')